docs/media/mangaReg.rnc

start = manga
manga = element manga {title, n, page+}
title = attribute title {text}
n = attribute n {xsd:integer}
page = element page {n, scene*}
scene = element scene {panel+}
panel = element panel {mixed{dialogue|fx}*}
fx = element fx {text}
dialogue = element dialogue {who,split?}
split = element split {empty}
who = attribute who {"Momo"|"Ken"|"Seiko"|"turboGranny"|"yokaiKen"|"cursedKen"|"Rokuro"|"Muko"|"Miko"|"kidMomo"|"Bully A"|"Extra"}

